/* divisões da tela */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu{
	height: 12vh;
	background-color: #2685BC;
}

.subsection{
	font-family: Berlin Sans FB, verdana;
	margin-top: -20px;
	background-color: #2685BC;
	color: white;
	width: 100%;
	height: 40vh;
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

}
.relatorios{
	font-family: Berlin Sans FB, verdana;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color:white;
	height: 70vh;
}
.bt{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
}

.bt button{
	border: none;
	width: 60vw;
	height: 7vh;
	color: white;
	border-radius: 10px;
}

.efeito{
	background-color: #2685BC;
	cursor: pointer;
}
.efeito:hover{
	background-color: rgb(0, 0, 0,0);
	color: #2685BC;
	box-shadow: inset 0 0 0 3px #2685BC;
}
/* mobile first */

/* telas pequenas: celulares */
@media screen and (min-width: 480px){
	.logo-relatorio{
		width: 215px; 
		background: url(../imagens/LogoEscritaR.png) center center/215px no-repeat;
	}
	.menu-diferente ul li a, .mud{
		color: #2685BC;
		border-bottom: none;
	} 
	.texto_rela{
        padding-top: 35%;
    }
}

@media screen and (min-width: 760px){

	.texto_rela{
		text-align: center;
		padding-top: 22%;
	}
}

@media screen and (min-width: 1280px){
	#primeira_parte{
    	padding-bottom: 5%;
	}
	.texto_rela{
        display: block;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        padding-top: 8%; 
    }

}


