html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

/* For all section's title */
.section-title {
    font-family: Berlin Sans FB, verdana;
    color: #290f85;
    margin: -1% 0 1% 0;
    font-size: 3rem;

}

/* Cabeçalho */
.nav-item {
    margin: -5vh 20px 20px 0;
}

#main {
    background: url("../img/backgroundsobre.png");
    background-size: cover;
    height: 30vh;
}

.header-main {
    margin-top: 10px;
    text-align: center;


}

.header-info {
    margin-top: 1%;
    font-weight: 530;
    font-size: 26pt;
    color: #FFFFFF;
}

/* petianos*/
#petianos {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 16pt;
    color: #20C1D4;
}

#petianos img {
    width: 200px;
    height: auto;
    margin: 1%;
    text-align: center;
    object-fit: cover;
    border-radius: 50%;
}
.status-petiano{
    border: 4px solid #20C1D4;
}
.status-expetiano{
    border: 4px solid #ff1f6d;
}

/* detalhes do petiano */
.detailsHide .details{
    display: none;
}
.detailsShow img{
    display: none;
}
.detailsShow .details{
    display: block;
    float: top;
    top:0;
    left:0;
    right:0;
    margin: auto;
    bottom: 100%;
    width:100%;
    height:100%;
    min-height: 250px;
    font-size: 12pt;
    text-justify: distribute;
    background: #e7f8fd;
}
/* tutora */
.tutora {
    display: block;
    margin: auto;
    width: 50%;
    padding: 0;
    text-align: center;
}

.tutora:hover {
   display: flex;
   color: #290f85;
}
.tutora:hover p {
   display: none;
}

/* membros*/
#div_petianos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    width: 98%;
    padding: 0;
}
.membro {
    margin: auto;
    width: 30%;
}
.membro p{
    width: auto;
}

.membro:hover {
    display: flex;
    color: #290f85;
}
.membro:hover p {
    display: none;
}

/* Footer */
.footer {
    height: 250px;
    width: 100%;
    background-color: #0aa5ec;
    padding-top: 20px;
    padding-bottom: 0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rodape p {
    color: white;
    text-align: center;
    font-size: 1em;
}

.rodape i {
    font-size: 30px;
    color: white;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    #main {
        position: relative;
        z-index: -200000;
    }

    .header-info {
        font-size: 2rem;
        text-align: center;
    }
    #petianos img {
        width: 150px;
    }
    #div_petianos{
       display: block;
    }
    .membro{
        width: 100%;
    }
    .footer {
        height: 450px;
        width: 100%;
        background-color: #0aa5ec;
        padding-top: 100px;
        padding-bottom: 50px;
        margin: 0 0 0 0;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .rodape p {
        color: white;
        text-align: center;
        font-size: 7pt;
    }

    .rodape i {
        font-size: 25px;
        color: white;
    }

}


/* SOBRE */

