
body{
    /* superior | direita | inferior | esquerda */
    padding: 20px 40px 20px 40px;
}
.header-info{
    color: #092165;
    text-align: center;
    font-family: "Atma", Sans-serif;
}

.corpo{
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    color:#000000;

}
.img_and_txt{
    display:flex;
    flex-direction: row;
}   
.img_and_txt > .flex_img{
    width:200px;
    flex:auto;
}
.img_and_txt > .flex_txt{
    flex:auto;
}

.bt1{
    display: block;
    margin-left: auto;
     margin-right: auto;
     width: 300px;
}
/* a */

.bt1 button{
	border: none;
	width: 300px;
	height: 60px;
	border-radius: 60px;
}

.grupo_bt2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
}
.grupo_bt2_intern{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}.bt2 button{
    width: 300px;
	height:60px;
	border-radius: 60px; 
}
.edital{
    background-color: #092165;
	cursor: pointer;
    color: white ;
    font-family: "Atma", Sans-serif;
    font-weight: 700;
}
.efeito{
	background-color: #DBE9EE;
	cursor: pointer;
    color: #092165;
    font-family: "Atma", Sans-serif;
    font-weight: 700;
}

.efeito:hover{
	background-color: #092165;
	color: #ffffff;
    box-shadow: 5px 5px 10px gray; 
	/* box-shadow: inset 0 0 0 3px; */
}

.edital:hover{
	background-color: #DBE9EE;
	color: #092165;
    box-shadow: 5px 5px 10px gray; 
	/* box-shadow: inset 0 0 0 3px; */
}
.rodape{
    margin-top: 80px;
    display:flex;
    flex-direction: row;
    gap: 80px;
    font-family: "Atma", Sans-serif;
    color:#092165;
    font-weight: 800;
}

@media screen and (max-width: 480px){
    .img_and_txt{
        display:flex;
        align-items: center;
        flex-direction: column;
    }   
    .img_and_txt > .flex_img{
        width:200px;
        flex:none;
    }
    .img_and_txt > .flex_txt{
        flex: none;
        margin-bottom: 50px;
    }
    .bt1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    /* a */
    
    .bt1 button{
        border: none;
        width: 300px;
        height: 60px;
        border-radius: 60px;
    }
    
    .grupo_bt2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .grupo_bt2_intern{
        margin-top:30px;
        display: flex;
        flex-direction: column;
        /* gap: 30px; */
    }.bt2 button{
        width: 300px;
        height:60px;
        border-radius: 60px; 
    }
    .rodape{
        margin-top: 80px;
        display:flex;
        flex-direction: row;
        gap: 10px;
        font-family: "Atma", Sans-serif;
        color:#092165;
        font-weight: 800;
    }
    .rodape img{
        width: 180px;
    }
}
